@import url("https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
--font-yrsa: "Yrsa", sans-serif; 
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}