---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Home from "../components/Home.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="shortcut icon"
      href="/public/android-chrome-512x512.png"
      type="image/x-icon"
    />
    <title>Pimuns-Machine</title>
  </head>
  <body class="bg-[#f8fafc]">
    <slot />
  </body>
</html>
